/* CSS "reset to make all browsers look the same*/
* { 
    margin: 0px;
    box-sizing: border-box;
}
.game{
    font-family: 'Signika', sans-serif;
    /* background: rgba(202, 250, 198, 0.247); */
}
h1 {
    text-align: center;
    margin: 30px;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("./imgs/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(186, 187, 181, 0.651);
}
.deck {
    width: 425px;
    height: 425px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    box-shadow: rgba(32, 28, 28, 0.452);

}
.cards {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/* click effect */
.cards:active {
    transform: scale(.97);
    transition: transform .2s; 
}
.cards.flip {
    transform: rotateY(180deg);
}
.cards.match {
	cursor: default;
    border: #20f77ab9;
    border-style: solid;
    border-radius: 5px;
	animation-name: popgreen;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}
.cards.mismatch{
    cursor: default;
    animation: buzzred .75s;
    border-radius: 5px;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}
/* animation */
@keyframes popgreen {
	from {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}
	to {
		transform: rotateY(180deg);
	}
}
@keyframes buzzred {
    from {
        border:#f75d20b9;
        border-style: solid;
    }
    to {
        border:#f72073b9;
        border-style: solid;
    }
}
/* ________________________ */
.front-card,
.back-card {
    width: 100%;
    height: 100%; 
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front-card {
    transform: rotateY(180deg);
    background: rgba(255, 255, 255, 0.479); 
    border: gray;
    border-style: outset;
    
}
.back-card {
    background: rgb(230, 231, 221);
    border: rgba(128, 128, 128, 0.705);
    border-style: inset;
}
.back-card:hover {
    border: solid rgba(233, 190, 70, 0.774);
    border-radius: 5px;
    /* position: absolute; */
    /* background: url("./imgs/hover.gif") no-repeat; */
    /* background-color: rgba(233, 190, 70, 0.288); */
    /* background-size: 100px; */
}

.my-music {
visibility: hidden;
}

/* ending */
.score{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.move,
.points,
.play-again {
    /* background: red; */
    /* text-align: center; */
    display: inline-block;
    /* justify-content: space-evenly; */
    /* margin-bottom: 10px; */
    font-family: 'Signika', sans-serif;
}
/* .points{
    float: right;
} */
.play-again {
    cursor: help;
    padding: 0;
    border: none;
    background: none;
}

.button {
    background-color: rgba(69, 230, 69, 0.315);
    border: none;
    color: white;
    text-shadow: rgba(186, 187, 181, 0.651);
}
